body{
    background-color: blueviolet;
}

.pesquisa{
    margin-top: 2em;
    margin-bottom: 2em;
}

.card-group{
    margin-top: 2em;
}

.card-img-top {
    width: 50%;
    height: 30vh;
    object-fit: contain;
}

.submit{
    margin-top: 2em;
}